////
/// Base Colours
/// @group constant
////

////
/// Avoid using rules from the constant directory directly
////
/// @type Color
//$color-nearblack: #0c0c0e !default;
/// @type Color
$color-nearblack: #020302 !default;
/// @type Color
$color-darkgrey: #1e1e1e !default;
/// @type Color
$color-mid-grey: #696969 !default;
/// @type Color
$color-flamingo: #f08e80 !default;
/// @type Color
$color-mint: #d9eae7 !default;
/// @type Color
$color-peach: #fdf0e6 !default;
/// @type Color
$color-almostwhite: #fefffe !default;
/// @type Color
$color-burgundy: rgb(61, 4, 2);
/// @type Color
$color-lightpink: #f3f4f5 !default;
/// @type Color
$color-midgrey: #404042;
