@import '../base/color_base';


/// @type Color
$color-bg: $color-lightpink !default;
/// @type Color
$color-text: $color-midgrey !default; 
/// @type Color
$color-text--caption: $color-mid-grey !default;
/// @type Color
$color-anchor: $color-text !default;
/// @type Color
$color-highlight: $color-flamingo !default;
/// @type Color
$color-grey-bg: $color-dark-clay !default;
