////
/// Grid
/// @group layout
////
@mixin x-column-grid($columns: 12) {
    grid-template-columns: repeat($columns, 1fr);
    grid-column-gap: 0;

    @include media('>=tablet') {
        grid-column-gap: $measure--basic;
    }

    @include media('>between') {
        grid-column-gap: $measure--small2;
    }
}

@mixin standard-grid() {
    @include x-column-grid(12);
    display: grid;
}
