@font-face {
    font-family: 'Overpass';
    src: url('../assets/Overpass-VariableFont_wght.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  
// https://rey-fluid-demo.squarespace.com/?nochrome=true

h1,
h2,
h3,
h4,
h5,
h6,
.heading-style {
    font-family: 'Overpass', Fallback, sans-serif;
}

p {
    font-family: 'Overpass', Fallback, sans-serif;
}
