@font-face {
    font-family: 'OldStandardTT';
    src: url('../assets/OldStandardTT-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  
// https://rey-fluid-demo.squarespace.com/?nochrome=true

h1,
h2,
h3,
h4,
h5,
h6,
.heading-style {
    font-family: 'OldStandardTT', Fallback, sans-serif;
    color: $color-highlight;
}

p {
    font-family: Helvetica, sans-serif;
}
