////
/// Variables
/// @group abstracts
////
/// @type Length
$width--tiny: 375px !default;
/// @type Length
$width--mobile: 432px !default;
/// @type Length
$width--tablet: 768px !default;
/// @type Length
$width--between: 900px !default;
/// @type Length
$width--small: 1024px !default;
/// @type Length
$width--desktop: 1280px !default;
/// @type Length
$width--large: 1440px !default;
/// @type Length
$width--1080p: 1920px !default;
/// @type Length
$width--4K: 3840px !default;
/// @type Length
$width--8K: 7680px !default;

$breakpoints: (
    'tiny': $width--tiny,
    'mobile': $width--mobile,
    'tablet': $width--tablet,
    'between': $width--between,
    'small': $width--small,
    'desktop': $width--desktop,
    'large': $width--large,
    '1080p': $width--1080p,
    '4K': $width--4K,
    '8K': $width--8K,
) !default;

$media-expressions: (
    'hover': '(hover: hover)',
    'nohover': '(hover: nohover)',
    'print': 'print',
    'reducemotion': '(prefers-reduced-motion: reduce)',
    'screen': 'screen',
) !default;

/// @type Length
$border-width-hairline: 0.0625rem !default;
/// @type Length
$border-width-default: 0.125rem !default;
/// @type Length
$border-width-thick: 0.1875rem !default;
/// @type Length
$border-width-thicker: 0.25rem !default;

/// @type Map
/// @prop {String} key - z-index name
/// @prop {Number} value - z-index value
/// @see {Function} z-index
$z-indexes: (
    'below': -1,
    'default': 0,
    'above': 1,
    'shadow': 3,
    'navigation': 4,
    'modal': 5,
) !default;

/// @type Length
$measure--quarter: 0.25rem !default;
/// @type Length
$measure--half: 0.5rem !default;
/// @type Length
$measure--threequarters: 0.75rem !default;
/// @type Length
$measure--basic: 1rem !default;
/// @type Length
$measure--small1: 1.25rem !default;
/// @type Length
$measure--small2: 1.5rem !default;
/// @type Length
$measure--small3: 1.75rem !default;
/// @type Length
$measure--small4: 2rem !default;
/// @type Length
$measure--small5: 2.25rem !default;
/// @type Length
$measure--medium1: 2.5rem !default;
/// @type Length
$measure--medium2: 2.75rem !default;
/// @type Length
$measure--medium3: 3rem !default;
/// @type Length
$measure--medium4: 3.25rem !default;
/// @type Length
$measure--medium5: 3.5rem !default;
/// @type Length
$measure--medium6: 3.75rem !default;
/// @type Length
$measure--medium7: 4rem !default;
/// @type Length
$measure--medium8: 4.25rem !default;
/// @type Length
$measure--medium9: 4.5rem !default;
/// @type Length
$measure--medium10: 4.75rem !default;
/// @type Length
$measure--medium11: 5rem !default;
/// @type Length
$measure--large1: 5.5rem !default;
/// @type Length
$width--max: 80rem !default;

/// @type Number
$font-weight-hairline: 100 !default;
/// @type Number
$font-weight-thin: 200 !default;
/// @type Number
$font-weight-light: 300 !default;
/// @type Number
$font-weight-normal: 400 !default;
/// @type Number
$font-weight-text: 450 !default;
/// @type Number
$font-weight-book: 500 !default;
/// @type Number
$font-weight-medium: 600 !default;
/// @type Number
$font-weight-bold: 700 !default;
/// @type Number
$font-weight-black: 800 !default;
/// @type Number
$font-weight-extrablack: 900 !default;

/// @type Length
$heading-margin: $measure--basic !default;
/// @type Length
$content-element-margin: $measure--threequarters !default;

/// @type Length
$max-component-line-length: 40ch !default;

/// polip
/// 

/// @type String
$border-style-default: solid !default;
/// @type String
$border-style-alternate: dotted !default;

/// @type Length
$border-radius-default: 0.25rem !default;
/// @type Length
$border-radius-thin: 0.125rem !default;
/// @type Map
/// @see {Mixin} border-radius
$border-radii: (
    'default': $border-radius-default,
    'thin': $border-radius-thin,
    'hairline': $border-width-hairline,
) !default;

/// @type String
$font-display: swap !default;

/// @type Number
$font-weight-thin: 100 !default;
/// @type Number
$font-weight-light: 300 !default;
/// @type Number
$font-weight-default: 400 !default;
/// @type Number
$font-weight-book: 500 !default;
/// @type Number
$font-weight-medium: 600 !default;
/// @type Number
$font-weight-bold: 700 !default;

/// @type Number
$font-size-ratio: 6/5;

// 16px
/// @type Length
/// @require {Variable} $base-font-size
$font-size-default: 1rem !default;
/// @type Length
/// @require {Variable} $font-size-ratio
/// @require {Variable} $font-size-default
$font-size-delta: ($font-size-ratio * $font-size-default) !default;
/// @type Length
/// @require {Variable} $font-size-ratio
/// @require {Variable} $font-size-delta
$font-size-gamma: ($font-size-ratio * $font-size-delta) !default;
/// @type Length
/// @require {Variable} $font-size-ratio
/// @require {Variable} $font-size-gamma
$font-size-beta: ($font-size-ratio * $font-size-gamma) !default;
/// @type Length
/// @require {Variable} $font-size-ratio
/// @require {Variable} $font-size-beta
$font-size-alpha: ($font-size-ratio * $font-size-beta) !default;
/// @type Length
/// @require {Variable} $font-size-ratio
/// @require {Variable} $font-size-beta
$font-size-kappa: ($font-size-ratio * $font-size-alpha) !default;
/// @type Length
/// @require {Variable} $font-size-ratio
/// @require {Variable} $font-size-beta
$font-size-omicron: ($font-size-ratio * $font-size-kappa) !default;
/// @type Length
/// @require {Variable} $font-size-ratio
/// @require {Variable} $font-size-default
$font-size-small: 14px; // TOO SMALL: ($font-size-default / $font-size-ratio) !default;
/// @type Length
$font-size-responsive: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400));
/// @type Length
$font-size-banner: 3.5rem !default;

// 11:8
/// @type Number
$line-height-default: 1.625 !default;
// 1:√2 – aug. fourth / dim. fifth
/// @type Number
$line-height-augmented-fourth: 1.414 !default;
/// @type Number
/// @require {Variable} $line-height-aug-fourth
$line-height-diminished-fifth: $line-height-augmented-fourth !default;
/// @type Number
$line-height-perfect-fifth: 1.5 !default;
/// @type Number
$line-height-small: 1.2 !default;

/// @type Length
$rotation-default: 10deg !default;

/// @type Length
/// @see {Mixin} transition
$transition-duration: 0.2s !default;
/// @type Length
/// @see {Mixin} transition
$transition-duration-long: 0.5s !default;
/// @type String
/// @see {Mixin} transition
$transition-function: ease !default;


/// @type Map
/// @prop {String} key - box-shadow name
/// @prop {Number} value - box-shadow value
/// @see {Function} box-shadow
$box-shadows: (
    'alpha': 0 12px 24px 0,
    'beta': 0 8px 16px 0,
    'gamma': 0 6px 12px 0,
    'delta': 0 4px 8px 0,
    'epsilon': 0 1px 2px 0,
    'flat': 0,
) !default;

/// @type Map
/// @prop {Length} key - Percentage for sizing
/// @prop {Array} value - Aspect Ratio
$ratios: (
    62.5%: (
        16,
        10,
    ),
    56.25%: (
        16,
        9,
    ),
    75%: (
        4,
        3,
    ),
) !default;

