@import 'anchor_reset';

@mixin anchor-inline(){
    color: $color-anchor;
    border-bottom-color: $color-anchor;
    border-bottom-width: $border-width-default;
    border-bottom-style: $border-style-default;
    text-decoration: none;

    &:hover {
        background-color: $color-anchor;
        color: white;
    }

    &:focus {
        outline: $border-width-default $border-style-default $color-anchor;
    }

    &:active {
        outline: $border-width-default $border-style-alternate $color-anchor;
    }
}


a {
    @include anchor-reset();
    @include anchor-inline();
}
