@mixin anchor-reset() {
    background-color: inherit;
    color: inherit;
    border-bottom-width: 0;

    &:hover,
    &:focus,
    &:active {
        background-color: inherit;
        color: inherit;
        outline-width: 0;
    }
}
