// .banner {
// }

.banner__bg {
    max-height: 520px;
    height: 100%;
    position: relative;
}

.banner__bg__img {
    position: relative;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: auto;
    display: block;
    overflow: hidden;

}

.banner__card {
    position: absolute;
    top:4rem;
    left: 50%;
    background-color: white;
    z-index: 3;
}

.banner__card__img {
    margin-left: auto;
    margin-right: auto;
}

.banner__card__txt {
    text-align: center;
    z-index: 2;

    @include default-padding();
}
