// .banner {
// }

.banner__img {
    max-height: 120px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1440px;

}
.hero-img {
    padding: 0.25rem;
    background-color: white;
}

.banner__text {
    margin: 0 auto 0 auto;
    line-height: 1;
    text-align: center;
}

.banner__text__heading {
    font-weight: 500;
    letter-spacing: 0.2rem;
}

.banner__text__sub-heading--countdown{
    color: $color-text--caption;
}


