////
/// Page
/// @group base
////
html {
    background-color: $color-bg;
    color: $color-text;
    box-sizing: border-box;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;

    @include media('reducemotion') {
        scroll-behavior: auto;
    }

    font-size: $font-size--mobile;
    font-style: normal;
    font-weight: $font-weight-text;
    line-height: 1;
    text-rendering: optimizeLegibility;

    @include media('>=desktop', '<1080p') {
        font-size: $font-size--desktop;
    }

    @include media('>=1080p', '<4K') {
        font-size: $font-size--1080p;
    }

    @include media('>=4K', '<8K') {
        font-size: $font-size--4K;
    }

    @include media('>=8K') {
        font-size: $font-size--8K;
    }
}

body {
    min-height: 100vh;
    position: relative;
}

main {
    @include media('>=small') {
        @include standard-grid();
    }
}

article {
    @include media('>=small') {
        grid-column: 1/-1;
    }
}
